*{
    margin: 0;
    padding: 0;
}


.hedder{
    background-image: url(../img/drew-coffman-1872.jpg);
    background-size:cover;
    background-attachment: fixed;
    height: 100vh;
}

.e{
    color: rgba(255, 255, 255, .92);
    font-size: 22px;
    margin-bottom: 20px;
}
.nov h1{
    color: #fff;
    font-size: 76px !important;
    font-family: "Alegreya";
    margin-bottom: 3px;
}
.nov{
    text-align: center;
    transform:translateY(50%)
    
}

.P{
    text-align: center;
    color: rgba(255, 255, 255, .92);
    font-size: 24px;
    line-height: 1.86em;
    font-family: "Alegreya Sans", sans-serif;
    font-style: normal;
    margin-bottom: 30px;
    margin-top: 50px;
}

.L{
    color: #fff;
    text-decoration: none;
    background-color: #8e7754;
    padding: 17px 28px;
    border-radius: 5px;
    font-family: "Alegreya Sans";
    margin-right: 10px;
    font-size: 20px;
    transition: background-color ,color;
    
}
.C{
    color: #fff;
    text-decoration: none;
    font-family: "Alegreya Sans";
    border: 2px solid;
    padding: 15px 28px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 20px;
    transition: background-color ,color;

}

.L:hover{
    background-color: #fff;
    color: #000;
}

.C:hover{
    background-color: #fff;
    color: #000;
}

.links ul{
    list-style: none;
}

.img img{
    width: 150px;
    transform: translateX(150px);
    margin-top: 10px;
}

.links ul li{
    color: #d1cece;
    font-family: "Alegreya";
    margin-bottom: 20px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    
}

.continer{
    margin:auto;
    width: 100%;
    position: fixed;
}

.img{
    float: left;
}
.links{
    float: left;
    margin-left: 600px;
}

.Pic{
    width: 50px;
    height: 100px;
    margin:auto;
    transform: translateY(210px);
    border-radius: 50px;
    border: 1px solid #fff;
    position: relative;
    
}

.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    animation: f 2s infinite alternate;
    
}

@keyframes f{
    from{
        top:20%;
        opacity: 0;
    }
    to{
        top:50%;
        opacity: 0.5;
      }
}









.about{
  padding: 100px 50px ;
}

.cont{
    width: 50%;
    margin: auto;
}

.about-img img{
    width: 130%;
    transform: translateX(-240px);
    margin-bottom: 100px;
}

.about-img{
    float: left;
    width: 50%;
    
}
.about-info{
    float: left;
    width: 50%;
}
.clear{
    clear: both;
}


.about-info h2{
    font-family: "Alegreya";
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about-info p{
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    line-height: 1.86em;
    width: 150%;
    margin-bottom: 20px;
}

.about-info ul{
    list-style: none;
}
.about-info ul li i{
    background-color:#fff;
    color: #8e7754;
    border-radius: 50% ;
    padding: 10px;
    border: 0.5px solid #d4cfcf;
    margin-right: 10px;
    
}
.about-info ul li{
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-size: 17px;
    color: #686868;
}









.loc-info p{
    width: 75%;
    
}
.loc-img img {
    width: 70%;
    transform: translateX(10px);
}
.loc-info{
    float: left;
    width: 50%;

}
.loc-img{
    float: left;
    width: 50%;
}
.loc-info{
    transform: translateX(150px);
}

.loc-info h2{
    font-family: "Alegreya";
    font-size: 32px;
    color: #303030;
    margin-bottom: 20px;
}
.loc-info p{
    line-height: 1.86em;
    font-family: "Alegreya";
    margin-bottom: 20px; 
}

.location{
    padding: 100px 0px;
    background: #f8f8f8;
    
}
.clix{
    clear: both;
}






.Menu{
    margin-top: 100px;
    margin-bottom: 100px;
   
    
}

.item{
    float: left;
    width: 33.33%;
    padding: 20px 30px;
    box-sizing: border-box;
}
.item img{
    width: 100%;
}
.conn{
    text-align: center;
    padding: 0px 160px;
}
.conn h2{
    font-family: cursive;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.t{
    font-size: 17px;
    color: #888;
    font-family: "Alegreya Sans";
    font-weight: 400;
    margin-bottom: 30px;
}
.item h3{
    font-family: "Alegreya";
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #303030;
    font-weight: 400;

}

.item p{
line-height: 1.86em;
font-family: "Alegreya Sans";
font-size: 17px;
font-weight: 400;
color: #686868;
width: 100%;
}

.cll{
    clear: both;
}








.G-info{
    float: left;
    width: 50%;
    transform: translateX(80px);
}
.G-img{
    float: left;
    width: 50%;
}

.a{
    clear: both;
}
.Gallery{
    background: #f8f8f8;
    padding: 100px;
}
.G-info h2{
    color: #303030;
    font-weight: 400;
    font-family: "Alegreya";
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.G-info p{
    line-height: 1.86em;
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    width: 90%;
    margin-bottom: 30px;
}
.G-info h3{
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    margin-bottom: 15px;

}
.G-info ul{
    list-style: none;
}
.G-info ul li i  {
     background-color: #8e7754 !important;
     padding: 10px;
     border-radius: 50%;
     margin-right: 15px;
     margin-bottom: 15px;
     color: #f8f8f8;
}

.G-img{
    transform:translateX(40px);
}
.G-img iframe{
    width: 80%;
}

.Blog{
    background-color: #403d38;
    padding: 70px 0px 0px 40px;
}

.cccc{
    display: flex;
    justify-content: space-evenly;
    color:#f8f8f8;
}
.elm1{
    width: 25%;
    transform: translateX(90px);
}
.elm2{
    width: 25%;
    transform: translateX(150px);
}
.elm3{
    width: 50%;
    transform: translateX(190px);
}
.elm4 {
    width: 25%;
    transform: translateX(-90px);
 
}
.Blog ul{
    list-style: none;
}
.elm1 h3{
    font-size: 18px;
    opacity: 1;
    color: #fff;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;
}
.pp{
    color: #969696;
    font-size: 16px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;
    width: 100%;
}
.ppp{
    font-family: "Alegreya Sans";
    font-weight: 400;
    color: #969696;
    font-size: 16px;
    line-height: 1.86em;
}
.elm2 h3{
    font-size: 18px;
    opacity: 1;
    color: #fff;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;
}

.elm2 ul li{
    color: #969696;
    font-size: 16px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.elm3 h3{
    color: #fff;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;  
}
.elm3 ul li{
    color: #969696;
    font-size: 16px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.elm4 h3{
    color: #fff;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;  
}
.elm4 ul li{
    color: #969696;
    font-size: 16px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.w{
    background-image: url(../img/contact-details-map.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, .001);
}








.contact{
    background-color: #353330;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact p{
    font-size: 15px;
    color: #777;
    margin-top: 15px;
    font-family: "Alegreya Sans";
}

.aycon i{
    color:#888;
    background-color: #484540;
    padding: 10px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 5px;
}

.z:hover{
    background-color:rgb(53, 53, 240) ;
    color:#fff;
}

.x:hover{
    background-color: orangered;
    color: #fff;
}

.n:hover{
    background-color:rgb(114, 114, 221);
    color: #fff;
}
.y:hover{
    background-color: rgb(89, 198, 212);
    color: #fff;
}
